.pagination-bullet {
    background: #303030;
    cursor: pointer;
    transition: all 0.3s ease;
}

.pagination-bullet.active {
    background-color: #3b87d5;
}
.development-item-wrapper {
    flex: 0.8;
    background: linear-gradient(180deg, #383838 0%, #9e9e9e 50.48%);
    grid-column: span 2 / span 2;
    border-radius: 20px;
    padding: 2px;
    height: calc(100% + 3px);
}
.development-item {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background-color: black;
    min-height: 100%;
    min-height: 190px;
    position: relative;
}
.development-item p {
    max-width: 90% !important;
}
@media (max-width: 768px) {
    .development-item {
        /* height: 154px; */
        min-height: 154px;
    }
    .development-item {
    }
}

@media (max-width: 1380px) {
    .development-item {
        justify-content: start;
        align-items: end;
        padding-left: 26px;
        padding-bottom: 15px;
    }
    .development-item-wrapper {
        flex: 1 1 0%;
    }
}
