.gradient-border-wrapper {
    position: relative;
    padding: 1px;
    border-radius: 21px;
    background: linear-gradient(180deg, #383838 0%, #9e9e9e 50.48%);
    /* width: 376px; */
    height: fit-content;
    height: 100%;
}

.blog-item {
    /* display: none; */
    display: flex;
    padding: 31px;
    flex-direction: column;
    align-items: center;
    /* width: 374px; */
    width: 100%;
    border-radius: 20px;
    background: black;
    position: relative;
    height: 100%;
}
.blog-item > a.button {
    position: absolute;
    bottom: 31px;
    left: 50%;
    transform: translateX(-50%);
}
/* .blog-items-grid > .gradient-border-wrapper:first-child > .blog-item > p {
  margin-bottom: 56px;
} */
.wrapper-2-3 > .gradient-border-wrapper {
    flex: 1;
}
.wrapper-2-3 > .gradient-border-wrapper {
    flex: 1;
}
.wrapper-2-3 > .gradient-border-wrapper > .blog-item > h2 {
    margin: 0;
}
.wrapper-2-3 > .gradient-border-wrapper > .blog-item > p {
    margin-bottom: 0;
}
.wrapper-2-3 > .gradient-border-wrapper > .blog-item > div:first-child {
    height: 166px;
}
.gradient-border-wrapper.filteredOut {
    display: none !important;
    /* display: flex; */
}

.blog-items-grid {
    grid-auto-rows: 490px;
}

@media (max-width: 768px) {
    .blog-item {
        padding-top: 24px;
        padding-left: 26px;
        padding-right: 26px;
    }
    .blog-item > a.button {
        bottom: 39px;
    }
    .blog-items-grid {
        grid-auto-rows: 430px;
    }
}
@media (max-width: 568px) {
    .blog-item {
        padding-top: 24px;
        padding-left: 26px;
        padding-right: 26px;
    }

    .blog-items-grid {
        grid-auto-rows: 360px;
    }
}
