.navlink {
    font-family: Raleway;
    font-weight: 400;
    font-style: Regular;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.gradient-border-wrapper {
    display: inline-block;
    background: linear-gradient(180deg, #383838 0%, #9e9e9e 50.48%);
    padding: 1px;
    border-radius: 21px;
}

.residents-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 374px;
    height: 468px;
    border-radius: 20px;
    background: black;
}

@media (max-width: 768px) {
    .residents-item {
        width: 320px;
        height: 369px;
    }
}
